html {
    overflow: scroll;
    overflow-x:hidden;

    /* scroll-behavior: smooth; */
}

.color {
    text-font: ;
    position: absolute;
    background-color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    font-family: "Courier New";
}